* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

:root {
  --base-space: 1.25rem;
}

body {
  font-family: sans-serif;
  padding: 0 var(--base-space);
}

picture {
  display: block;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
