:root {
  /* Colores */
  --black: #1c1c20;
  --white: #ffffff;

  --green: #00ba78;
  --dark-green: #298039;
  --blue: #0066ff;
  --dark-blue: #2b5294;
  --red: #db3236;
  --dark-red: #9e2427;

  --backgroundGrayColor: #eaeaea;
  --backgroundAside: #273343;

  --base-space: 1rem;

  /* Media Query */
  --mobile: 480px;
  --tablet: 1024px;
}

.aside {
  /* position: fixed; */
  /*   float: left;
  top: 0;
  left: 0;
  width: 15.2rem;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  overflow-y: auto;
  background-color: var(--backgroundAside);
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: left;
  padding: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  height: 100%;
  z-index: 100;
  color: var(--white);
  border-radius: 0.5rem;
  width: 100%;
  margin: var(--base-space);
  border-bottom: 0.065rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0.01rem 0.01rem 0.3rem 0.03rem rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  background-color: var(--backgroundAside);
}

.aside__header {
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.aside__header picture img {
  width: 50%;
  margin: 0 auto;
  height: auto;
  border: 2px solid var(--white);
  border-radius: 50%;
}

.aside__title {
  font-size: 1.2em;
  font-weight: bold;
}

.aside__title-text {
  margin-left: 10px;
}

.aside__body {
  padding: 20px;
}

.aside__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.aside__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.aside_tools {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.6rem;
}

.aside__footer {
  padding: 20px;
  border-top: 1px solid #e6e6e6;
}

.aside__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-top: 1px solid #e6e6e6;
}

@media (max-width: 720px) {
  .aside {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
  }

  .aside__header picture img {
    width: 50%;
    margin: 0 auto;
    height: auto;
    border: 0.25rem solid var(--white);
    border-radius: 50%;
  }

  .aside__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
  }
}
