.info {
  background-color: #eaeaea;
  padding: 1rem;
  border-bottom: 0.06rem solid lightgray;
}

.info .content {
  margin: auto;
}

.info .content .div-info picture {
  max-width: 3vw;

  margin: auto;
}

.info .info-list {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 0;
}

.info-list li {
  margin: 0.5rem;
  flex-grow: 1;
  width: 33%;
}

.info .div-info {
  padding: 1rem;
  text-align: center;
  background-color: white;
  box-shadow: 0.1rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
  width: 100%;
  height: 100%;
}

.section-users {
  margin: auto;
}

.users-list {
  background-color: white;
  display: block;
  padding: 0;
}

.users-list li {
  display: flex;
  border-bottom: 0.064rem solid lightgray;
  margin: 0.5rem;
  padding: 0.5rem;
}

.div-users {
  width: 70%;
  margin: 1rem;
}

.users-list picture {
  margin: 0.5rem;
}

.section-users {
  padding: 1rem;
}

.section-users .top-link {
  display: block;
  width: auto;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1024px) {
  .info .info-list {
    display: flex;
    flex-direction: column;
  }

  .info .content .div-info picture {
    max-width: 5vw;
    margin: auto;
  }

  .info-list li {
    margin: 0.4rem auto;
    flex-grow: 1;
    width: 90%;
  }

  .users-list picture {
    display: none;
  }

  .div-users {
    width: 100%;
  }

  .hero-div h1 {
    white-space: normal;
    margin: 1rem;
  }
}
