.custom-button {
  border: none;
  border-radius: 5px;
  color: white;
  width: fit-content;
  font-size: 1.1rem;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.5);
  transition: 0.25s;
  margin: 0.5rem;
}

/* Button Colors */
.blue {
  background-color: var(--blue);
}
.green {
  background-color: var(--green);
}
.red {
  background-color: var(--red);
}

.blue-border {
  border: 1px solid var(--blue);
}
.green-border {
  border: 1px solid var(--green);
}
.red-border {
  border: 1px solid var(--red);
}

/* Button Effects */
.custom-button.blue:hover {
  cursor: pointer;
  background-color: var(--dark-blue);
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
  color: white;
}
.custom-button.green:hover {
  cursor: pointer;
  background-color: var(--dark-green);
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
  color: white;
}
.custom-button.red:hover {
  cursor: pointer;
  background-color: var(--dark-red);
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
  color: white;
}

.custom-button.blue:disabled {
  cursor: pointer;
  background-color: var(--dark-blue);
  color: lightgray;
}
.custom-button.green:disabled {
  cursor: pointer;
  background-color: var(--dark-green);
  color: lightgray;
}
.custom-button.red:disabled {
  cursor: pointer;
  background-color: var(--dark-red);
  color: lightgray;
}

/* Button Size */
.small {
  padding: 5px 10px 5px 10px;
}
.medium {
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
}
.large {
  padding: 20px 30px 20px 30px;
}
.xlarge {
  padding: 30px 40px 30px 40px;
}

.all {
  width: 100%;
}
